body{
    font-family: $primary-font;
}

.primary-font{
    font-family: $primary-font !important;
}

.semi-bold-font{
    font-family: $semi-bold-font !important;
}

.bold-font{
    font-family: $bold-font !important; 
}

.thin-font {
    font-family: $thin-font !important;
}
  