@font-face {
  font-family: "BoldFont";
  src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBoldFont";
  src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "RegularFont";
  src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ThinFont";
  src: url("../assets/fonts/Montserrat/Montserrat-Thin.ttf") format("truetype");
}
