// Fonts
$primary-font: RegularFont;
$semi-bold-font: SemiBoldFont;
$bold-font: BoldFont;
$thin-font: ThinFont;

// Colors
$primary-color: #673ab7;
$primary-dark-color: #582ca7;
$primary-light-color: #8154d2;

$black-color: #1b262c;
$black-dark-color: #080c0e;

$grey-color: #c5c5c5;
$grey-dark-color: #7d7d7d;

$red-color: #931a25;
$red-dark-color: #7d0633;

$white-color: "#ffffff";